.toast {
  width: $toast-max-width;
  max-width: 100%;
  @include font-size($toast-font-size);
  color: $toast-color;
  pointer-events: auto;
  background-color: $toast-background-color;
  background-clip: padding-box;
  border: $toast-border-width solid $toast-border-color;
  box-shadow: $toast-box-shadow;
  @include border-radius($toast-border-radius);

  &:not(.showing):not(.show) {
    opacity: 0;
  }

  &.hide {
    display: none;
  }
}

.toast-container {
  width: max-content;
  max-width: 100%;
  pointer-events: none;

  > :not(:last-child) {
    margin-bottom: $toast-spacing;
  }
}

.toast-header {
  display: flex;
  align-items: center;
  padding: $toast-padding-y $toast-padding-x;
  color: $toast-header-color;
  background-color: $toast-header-background-color;
  background-clip: padding-box;
  border-bottom: $toast-border-width solid $toast-header-border-color;
  @include border-top-radius(subtract($toast-border-radius, $toast-border-width));

  .btn-close {
    margin-right: $toast-padding-x / -2;
    margin-left: $toast-padding-x;
  }
}

.toast-body {
  padding: $toast-padding-x; // apply to both vertical and horizontal
  word-wrap: break-word;
}
@media (max-width: 575.98px) {
  .toast,
  .toast-container {
    width: 100%;
    max-width: 100vw;
    min-width: 0;
  }

  .toast-header,
  .toast-body {
    padding-left: $toast-padding-x * 0.75;
    padding-right: $toast-padding-x * 0.75;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .toast,
  .toast-container {
    width: 90vw;
    max-width: 90vw;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .toast,
  .toast-container {
    width: 70vw;
    max-width: 70vw;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .toast,
  .toast-container {
    width: 50vw;
    max-width: 50vw;
  }
}

@media (min-width: 1200px) {
  .toast,
  .toast-container {
    width: $toast-max-width;
    max-width: 100%;
  }
}